h1 {{chatroom.name}}

#discussion
	table
		tr(ng-repeat="message in chatroom.messages")
			td {{message.datetime}}
			td {{message.sender}}
			td
				p(ng-bind-html="message.content")

form(action="")
	input(autocomplete="off" ng-model="message" placeholder="Type a message here")
	button(ng-click="sendMessage()") Send

input(type="text" ng-model="username" placeholder="Enter your username here")