@navbarHeight: 120px;

body{
	height: 100%;
}

.below-header{
	position: absolute;
	top: @navbarHeight;
}

.filled-below-header{
	.below-header;
	bottom: 0px;
}

/* Content will be scrollable, but the html shouldn't be*/
#chatrooms{
	.filled-below-header;
	width: 100%;
	overflow-y: auto;
}

#discussion-container {
	.filled-below-header;
	width: 80%;
	left: 0px;
	overflow-y: auto;
}

#user-container{
	.filled-below-header;
	width: 19%;
	right: 0px;
	overflow-y: auto;
}