@navbarHeight: 120px;

body{
	height: 100%;
}

.below-header{
	position: absolute;
	top: @navbarHeight;
}

.filled-below-header{
	.below-header;
	bottom: 0px;
}

/* Content will be scrollable, but the html shouldn't be*/
#chatrooms{
	.filled-below-header;
	width: 100%;
	overflow-y: auto;
}

// This contains the user messages
// Which in turn contains a table
// TODO Media query to make this single column
#discussion-container {
	.filled-below-header;
	width: 80%;
	left: 0px;
	overflow-y: auto;

	& table{
		width: 100%;
		border-collapse: unset;

		& td{
			&.center-table-column, &.right-table-column{
				width: 100%;
			}
		}
	}
}

// TODO Media query to make this single column
#user-container{
	.filled-below-header;
	width: 19%;
	right: 0px;
	overflow-y: auto;
}